* {
	font-family: 'Oswald', sans-serif;
}

.Oswald {
	font-family: 'Oswald', sans-serif;
}

.Fredericka {
	font-family: 'Fredericka the Great', sans-serif;

}

.cactus {
	background-color: #5C615A;
}

.lawngreen {
	background-color: #7BCE00;
}

.charcoal {
	background-color: #3C3C3C;
}

.norway {
	background-color: #A2AA9D;
}

.norwayText {
	color: #A2AA9D;
}

.limeade {
	background-color: #5B9703;
}

.romance {
	background-color: #F1EFE9;
}

.pizzaBackground {
	background-image: url(Images/pizzaPlaza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.button {
	border: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	outline: inherit;
	font-size: 20px;
	background-color: #7BCE00;
}

.button:hover {
	border: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	outline: inherit;
	font-size: 20px;
	line-height: 50px;
	background-color: #5B9703;
}

#pizza div {
	background-color: white;
}

ol {
	height:400px;
	overflow-y:scroll;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	padding-inline-start: 0px;
}

ol h1 {
	margin: 0;
}

::-webkit-scrollbar {
  	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  	background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #7D817B;
  	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #7D817B; 
}